.nav-bg{
  background: linear-gradient(to right, #38ef7d, #11998e);
}

.card-border{
   border-image: linear-gradient(to right, #ffff1c, #00c3ff);
   border-image-slice: 1;
   border-width: 1px;
}

.list-gradient{
  border-image: linear-gradient(to right, #24fe41, #fdfc47);
  border-image-slice: 1;
  border-width: 1px;
}
